/* Application level styles (theme) */
.app-home {
    grid-auto-flow: row;
    grid-gap: var(--grid-gap-sm);
    grid-template-rows: auto 1fr auto;
    min-height: calc(100vh - 32px - 50px); /* see .q-bar & .q-toolbar*/
    padding: var(--grid-gap-sm);
}

.app-home-controls {
    align-items: center;
    display: grid;
    grid-gap: var(--grid-gap-sm);
    grid-template-columns: 1fr auto;
    justify-items: center;
}
