/* These styles are used on landing page and should be as small as possible */
BODY {
    background-color: var(--color-lightest);
    color: var(--color-darkest);
}

.launchpad {
    display: grid;
    height: 100vh;
    align-items: center;
    justify-items: center;
}
