/* These styles are used on landing page and should be as small as possible */
BODY {
    margin: 0;
}

.launchpad {
    display: grid;
    height: 100vh;
    align-items: center;
    justify-items: center;
}
